body {
    background-color: #6c757d;
    /*background-color: #14213d;525174  b5d6d6*/
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#content {
    background-color: #333533;
    /*background-color: #004369;14213d 333533*/
    
    width: 50%;
    height: 30rem;
    position: fixed;
    border-radius: .5rem;
    border: 1px solid #c2c2c2;
    border-top: 0px;
    box-shadow: 2px 3px 20px 2px #888888;
    
}

#navbar {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    border-radius: .5rem;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #c2c2c2;
    border-left: 0px;
    border-right: 0px;
    
}

h2 {
    display: inline;
    font-family: 'Press Start 2P', cursive;
    font-size: .8rem;
}

.phoneDisplay {
    display: none;
}

.header {
    margin-top: .6rem;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: #393d3f;
}

a:hover {
    color: #e5e5e5;
}

.circles {
    display: flex;
    align-items: center;  
    margin-left: .5rem;
}

.round {
    margin: 0px 4px;
}

.round:first-child {
    height: 1rem;
    width: 1rem;
    background-color: green;
    border-radius: 50%;
}

.round:first-child:hover {
    height: 1.1rem;
    width: 1.1rem;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.5) inset;
}

.round:nth-child(2) {
    height: 1rem;
    width: 1rem;
    background-color: orange;
    border-radius: 50%;
}

.round:nth-child(2):hover {
    height: 1.1rem;
    width: 1.1rem;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.5) inset;
}

.round:nth-child(3) {
    height: 1rem;
    width: 1rem;
    background-color: red;
    border-radius: 50%;
}

.round:nth-child(3):hover {
    height: 1.1rem;
    width: 1.1rem;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.5) inset;
}

.terminal {
    padding-left: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: .7rem;
    color: #4AF626;
    /*38b000 4AF626*/
}


@media screen and (max-width: 720px) {

    .phoneDisplay {
        display: none;
    }

    #content {
        width: 100%;
    }

}

@media screen and (max-width: 370px) {
    h2 {
        display: none;
    } 

    .phoneDisplay {
        display: inline;
        font-family: 'Press Start 2P', cursive;
        font-size: .8rem;
        color: #393d3f;
    }
}